require "spec"
require "../src/*"

describe <%= to_capitalized(@json["exercise"].to_s).inspect %> do
    <% @json["cases"].as_a.each do |cases| %>
        <%= status()%> "<%-= cases["description"] %>" do
            <%= to_capitalized(@json["exercise"].to_s) %>.<%= cases["property"].to_s.underscore %>(<%= to_s_deep(cases["input"]["rows"]).gsub("[]", "[] of String").gsub("[\"", "[\n\"").gsub(", ", ",\n") %>).should eq(<%= to_s_deep(cases["expected"]).gsub("[\"", "[\n\"").gsub(", ", ",\n") %>)
        end
    <% end %>
end
