require "spec"
require "../src/*"

describe <%= to_capitalized(@json["exercise"].to_s) %> do
    <% @json["cases"].as_a.each do |cases| %>
        <%= status()%> "<%-= cases["description"] %>" do
            hands = <%= to_s_digged(cases["input"]["hands"]).gsub("[", "[\n").gsub("\", \"", "\",\n\"") %>
            expected = <%= to_s_digged(cases["expected"]).gsub("[", "[\n").gsub("\", \"", "\",\n\"") %>
            <%= to_capitalized(@json["exercise"].to_s) %>.<%= cases["property"].to_s.underscore %>(hands).should eq(expected)
        end
    <% end %>
end
