require "spec"
require "../src/*"

describe <%= to_capitalized(@json["exercise"].to_s).inspect %> do
    <% @json["cases"].as_a.each do |cases| %>
        describe <%= cases["description"].to_s.inspect %> do
            <%- cases["cases"].as_a.each do |cases| %>
                <%= status()%> "<%-= cases["description"] %>" do
                    <% if cases["expected"].as_h? %>
                        expect_raises(ArgumentError) do
                            <%= to_capitalized(@json["exercise"].to_s) %>.<%= cases["property"] %>(<%= to_s_deep(cases["input"]["integers"]) %>)
                        end
                    <% else %>
                        input = <%= to_s_deep(cases["input"]["integers"]) %>
                        expected = <%= to_s_deep(cases["expected"]) %>
                        <%= to_capitalized(@json["exercise"].to_s) %>.<%= cases["property"] %>(input).should eq(expected)
                    <% end %>
                end
            <% end %>
        end
    <% end %>
end
