require "spec"
require "../src/*"

describe "<%-= to_capitalized(@json["exercise"].to_s) %>" do
<%- @json["cases"].as_a.each do |cases| %>
    <%= status()%> "<%-= cases["description"] %>" do
        flowerfield = <%-= to_capitalized(@json["exercise"].to_s) %>.new(<%= to_s_digged(cases["input"]["garden"]) %> of String)
        flowerfield.<%-= cases["property"].to_s.underscore %>.should eq(<%-= to_s_digged(cases["expected"]).gsub("[]", "[] of String") %> )
    end
<% end %>
end
