require "spec"
require "../src/*"

describe <%= to_capitalized(@json["exercise"].to_s) %> do
    <% @json["cases"].as_a.each do |cases| %>
        <%= status()%> "<%-= cases["description"] %>" do
            grid = <%= to_s_digged(cases["input"]["grid"]).gsub("[", "[\n").gsub("\", \"", "\",\n\"") %>
            words = <%= to_s_digged(cases["input"]["wordsToSearchFor"]).gsub("[", "[\n").gsub("\", \"", "\",\n\"") %>
            expected = {
                <% cases["expected"].as_h.each do |word, location| -%>
                    <% if location.as_h? -%>
                        <%= word.to_s.inspect %> => { {<%= location.as_h["start"]["column"] %>, <%= location.as_h["start"]["row"] %>}, {<%= location.as_h["end"]["column"] %>, <%= location.as_h["end"]["row"] %>} },
                    <% else -%>
                        <%= word.to_s.inspect %> => nil,
                    <% end -%>
                <% end -%>
            }
            <%= to_capitalized(@json["exercise"].to_s) %>.<%= cases["property"].to_s.underscore %>(grid, words).should eq(expected)
        end
    <% end %>
end
