require "spec"
require "../src/*"

describe "<%-= to_capitalized(@json["exercise"].to_s) %>" do
    <%- @json["cases"].as_a.each do |cases| %>
        <%= status()%> "<%-= cases["description"] %>" do
            <%= to_capitalized(@json["exercise"].to_s) %>.<%= cases["property"].to_s.underscore %>(<%= to_s_deep(cases["input"]["dominoes"]).gsub("[]", "[] of Array(Int32)") %>).should be_<%= cases["expected"]  %>
        end
    <% end %>
end
