require "spec"
require "../src/*"

describe "<%-= to_capitalized(@json["exercise"].to_s) %>" do
<%- @json["cases"].as_a.each do |cases| %>
    <%- cases["cases"].as_a.each do |sub_case| %>
    <%= status()%> "<%-= sub_case["description"] %>" do
        <%= to_capitalized(@json["exercise"].to_s) %>.new({<%= sub_case["input"]["sides"].to_s[1...-1] %>}).<%= to_snake(sub_case["property"].to_s)%>?.should <%-= sub_case["expected"].as_bool ? "be_true" : "be_false" %>
    end
    <% end %>
<% end %>
end
