require "spec"
require "../src/*"

describe "<%-= to_capitalized(@json["exercise"].to_s) %>" do
<%- @json["cases"].as_a.each do |cases| %>
    <%= status()%> "<%-= cases["description"] %>" do
        <%- if to_s_deep(cases["input"]["array"]) == "[[[]]]" %>
<%= to_capitalized(@json["exercise"].to_s) %>.<%= cases["property"].to_s.underscore %>(Array(Array(Int32)).new).should eq(<%= to_s_deep(cases["expected"]) %> of Int32)
        <%- else %>
            <%= to_capitalized(@json["exercise"].to_s) %>.<%= cases["property"].to_s.underscore %>(<%= to_s_deep(cases["input"]["array"]) == "[]" ? "[] of Int32 | Nil" : to_s_deep(cases["input"]["array"]) %>).should eq(<%= to_s_deep(cases["expected"]) == "[]" ? "[] of Int32" : to_s_deep(cases["expected"]) %>)
        <%- end %>
    end
<% end %>
end
