require "spec"
require "../src/*"

describe "<%-= to_capitalized(@json["exercise"].to_s) %>" do
<%- @json["cases"].as_a.each do |cases| %>
    <%= status()%> "<%-= cases["description"] %>" do
    input = <%= to_s_digged(cases["input"]["strings"]) == "[]" ? "[] of String" : to_s_digged(cases["input"]["strings"]) %>
    output = <%= to_s_digged(cases["expected"]) == "[]" ? "[] of String" : to_s_digged(cases["expected"]) %>
        <%= to_capitalized(@json["exercise"].to_s) %>.<%= cases["property"].to_s.underscore %>(input).should eq(output)
    end
<% end %>
end
