require "spec"
require "../src/*"

describe "<%-= to_capitalized(@json["exercise"].to_s) %>" do
<%- @json["cases"].as_a.each do |cases| %>
    <%= status()%> "<%-= cases["description"] %>" do
        Sublist.classify(<%= to_s_digged(cases["input"]["listOne"]) %> of Int32, <%= to_s_digged(cases["input"]["listTwo"]) %> of Int32).should eq(Sublist::Classification::<%= cases["expected"].to_s.capitalize %>)
    end
<% end %>
end
