require "spec"
require "../src/*"

describe "<%= to_capitalized(@json["exercise"].to_s) %>" do
    <% @json["cases"].as_a.each do |cases| %>
        <%= status()%> "<%= cases["description"] %>" do
            board = <%= to_s_digged(cases["input"]["board"]).gsub(/[,\[]/, &.+('\n')) %>
            <%= to_capitalized(@json["exercise"].to_s) %>.<%= cases["property"] %>(board).should eq <%= to_s_digged(cases["expected"]) %>
        end
    <% end %>
end
